# postgreSQL 설정
PG_DB=
PG_USER=
PG_PASSWORD=
PG_PORT=

# Django,React 로컬 포트
REACT_PORT= # 프론트엔드 포트
DJANGO_PORT= # 백엔드 포트


# React 환경변수 (REACT_APP_ 접두사 필수)
PORT= # 프론트엔드 포트
REACT_APP_DJANGO_HOST=localhost
REACT_APP_DJANGO_PORT= # 백엔드 포트

# 임베딩 모델 API 키
OPENAI_API_KEY=

# 브라우저 자동 실행 비활성화
BROWSER=none
